<div class="container">
  <div class="header">
    <div class="title-list">
      <i class="fa-solid fa-list-check"></i>
      <span>Lista de tareas</span>
    </div>

    <div class="search">
      <input type="text" placeholder="Buscar" [(ngModel)]="searchValue" (keyup)="filtered()">
      <span class="input-icon">
        <i class="fas fa-search" *ngIf="searchValue === ''"></i>
        <i class="fa-solid fa-xmark" *ngIf="searchValue !== ''" style="cursor: pointer;" (click)="searchValue = ''"></i>
      </span>
    </div>
  </div>

  <div class="list-task">
    <table>
      <thead>
        <tr>
          <th>Id</th>
          <th>Mis tareas</th>
          <th>Completada</th>
          <th>Borrar</th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngIf="(tasks | filterTask: searchValue: currentPage).tasks.length === 0; else table">
          <tr class="empty-list animate__animated animate__fadeIn">
            <td colspan="4">
              <span>No hay tareas disponibles</span>
            </td>
          </tr>
        </ng-container>

        <ng-template #table>
          <tr class="animate__animated animate__fadeIn" *ngFor="let task of (tasks | filterTask: searchValue: currentPage).tasks">
            <td>{{task.id}}</td>
            <td class="title" >
              <input type="text" [(ngModel)]="task.title" [ngClass]="{'actived' : task.state }" (focus)="onFocus( task )" (blur)="onBlur(task)">
              <span class="input-title-i">
                <i class="fa-solid fa-pen-to-square"*ngIf="task?.inputFocused" (click)="updateTask(task)"></i>
              </span>
            </td>
            <td>
              <input type="checkbox" [checked]="task.state"
              [(ngModel)]="task.state"
              (change)="updateTask(task)">
            </td>
            <td>
              <i class="fa-regular fa-trash-can" (click)="deleteTask(task.id)"></i>
            </td>
          </tr>
        </ng-template>

      </tbody>
    </table>
  </div>

  <div class="footer">
    <app-paginator [pageSize]="pageSize" [currentPage]="currentPage"
      [totalItems]="(tasks | filterTask: searchValue: currentPage).totalItems" (pageChanged)="onPageChanged($event)">
    </app-paginator>
  </div>
</div>
