<div class="container">
  <div class="header">
    <div class="title">
      <i class="fa-solid fa-list-check"></i>
      <span>Lista de tareas</span>
    </div>

    <div class="search">
      <input type="text" placeholder="Buscar">
      <span class="input-icon">
        <i class="fas fa-search"></i>
      </span>
    </div>
  </div>

  <div class="list-task">
    <table>
      <thead>
        <tr>
          <th>Id</th>
          <th>Mis tareas</th>
          <th>Completada</th>
          <th>Borrar</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let task of paginatedTask">
          <td>{{task.id}}</td>
          <td>{{ task.title}}</td>
          <td>
            <input type="checkbox">
          </td>
          <td>
            <i class="fa-regular fa-trash-can"></i>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="footer">
    <app-paginator
    [pageSize]="pageSize"
    [currentPage]="currentPage"
    [totalItems]="tasks.length"
    (pageChanged)="onPageChanged($event)">
  </app-paginator>
  </div>
</div>
