<div class="container">
  <div class="header">
    <i class="fa-solid fa-plus"></i>
    <span>Nueva tarea</span>
  </div>

  <form class="form-task" [formGroup]="taskForm">
    <div class="input-task">
      <label>Título *</label>
      <input type="text" placeholder="Ingrese título" formControlName="title">
      <span class="error" *ngIf="invalid" >El campo es obligatorio</span>
    </div>

    <div class="input-check">
      <label for="">Tarea completada</label>
      <input type="checkbox" formControlName="state">
    </div>

    <button (click)="submmitTask()">
      <i class="fa-solid fa-plus" *ngIf="!loading"></i>
      <i class="fas fa-circle-notch fa-spin" *ngIf="loading"></i>
      GUARDAR TAREA
    </button>
  </form>
</div>
