@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
@import '~@fortawesome/fontawesome-free/css/all.css';

body {
  font: normal normal bold 20px/24px "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

input[type="checkbox"] {
  width: auto;
  cursor: pointer;
  border: 1px solid #ffffff99;
  accent-color: #11806A;
}

:root {
  --mi-color: #4B9F8E;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--mi-color);
  border-radius: 12px;
}

/* Para Firefox */
html {
  scrollbar-width: thin;
  scrollbar-color: var(--mi-color) #f1f1f1;
}
